body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(4, 38, 68);
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    gap: 10px;
    background: rgb(7, 65, 116);
    border-radius: 10px;
}

.display-area {
    display: flex;
}

button {
    width: 75px;
    height: 75px;
    margin: 5px;
    border-radius: 10px;
    background: aliceblue;
    font-size: 32px;
}

input {
    width: 325px;
    height: 50px;
    border-radius: 10px;
    background: aliceblue;
    font-size: 32px;
}